
<div class="modal">
  <div class="modal-content">
    <h2>
      {{ question }}
    </h2>
    <button class="button" onclick="closeModal()">Annuler</button>
    <form action="{{ url }}" method="{{ method }}">
      <button type="submit">OK</button>
    </form>
  </div>
</div>
