@eval(await auth.check())
<header>
  <a href="/">
    <img class="logo" src="{{ asset('resources/images/logo.svg') }}" alt="Logo" />
  </a>
  <nav>
    @if(auth.isAuthenticated)
      <a href="/users/{{ auth.user.id }}">{{ auth.user.username }}</a>
      <a href="/logout">Déconnexion</a>
    @else
      <a href="/login">Connexion</a>
      <a href="/register">Inscription</a>
    @endif
  </nav>
</header>
