<header>

  <a href="/">
    <img class="logo" src="/resources/assets/logo.svg" alt="Logo" />
  </a>
  <nav>
    @if(user)
      <a href="/user/{{ user.id }}">{{ user.username }}</a>
      <a href="/logout">Déconnexion</a>
    @else
      <a href="/login">Connexion</a>
      <a href="/register">Inscription</a>
    @endif
  </nav>
</header>
