<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{ title ? title + " - " : "" }}WOF
    </title>
    @vite(['resources/css/app.css'])
  </head>
  <body>
    @!include('partials/header')

    <main>
      @flashMessage('success')
        <div class="success">
          {{ flashMessages.get('success') }}
        </div>
      @end
      @flashMessage('error')
        <div class="error">
          {{ flashMessages.get('error') }}
        </div>
      @end
      
      
      {{{ await $slots.main() }}}
    </main>

    @!include('partials/footer')
  </body>

</html>
